* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgb(57, 163, 47), rgb(48, 143, 135));
  font-family: sans-serif;
  color: white;
}

// left part
.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

  &__card {
    width: 33%;
    flex-shrink: 0;
  }

  &__timezone {
    font-size: 4rem;
  }

  &__about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 100%;
  }

  &__about-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 60%;

    &_big {
      font-size: 4rem;
    }

    &_small {
      font-size: 1.2rem;
    }
  }

  &__time {
    &_big {
      font-size: 4rem;
    }

    &_small {
      font-size: 1.8rem;
    }
  }

  &__description {
    text-align: end;
  }

  &__in-this-day {
    display: flex;
    cursor: pointer;
  }

  &__next-days {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}

.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 33%;

  &_big {
    flex-basis: 100%;
  }
}

.degree-value {
  &_big {
    font-size: 12rem;
  }
  &_small {
    font-size: 5rem;
  }
}

.degree-symbol {
  // margin: 5%;
  &_big {
    font-size: 8rem;
  }

  &_small {
    font-size: 3rem;
  }
}

// right part
.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
